/* Angular Material + Toastr */
@use '@angular/material' as mat;
@use 'ngx-toastr/toastr';

/* Global HTML & Body */
html,
body {
  width: 100%;
  height: 100%;
}

/* Material 3 Theme */
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* Global Body Styles */
body {
  /* Material color scheme */
  color-scheme: light;

  /* Material system variables */
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  /* Base typography fallback */
  font-family: Roboto, "Helvetica Neue", sans-serif;

  /* Reset */
  margin: 0;
}
